@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v31-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
}

body {
  margin: 0;
  /* background: black; */
}

p {
   font-family: "Montserrat", Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  height: 32px;
  width: calc(100vw - 40px);
  margin: 20px;
  z-index: 100;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    width: calc(100vw - 80px);
    margin: 40px;
    height: 40px;
  }
}

.address-button,
.navigation-button {
  height: 100%;
  background: transparent;
  display: flex;
  cursor: pointer;
}

.address-button__icon,
.navigation-button__icon {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.greeting {
  height: 100vh;
  width: 100vw;
  background: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}

.greeting__decor_mobile {
  width: 100%;
  right:0;
  top: 10%;
  /* bottom: 1%; */
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
}

.hand-img {
  width: 100%;
}


.greeting__fill_mobile {
  height: calc(100% - 90px);
  width: calc(100% - 40px);
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}




@media (min-width: 768px) {
  .greeting__fill_mobile {
    display: none;
  }
  .greeting__decor_mobile {
    display: none;
  }
}

.logo-mobile {
  width: 100%;
}

.working-hours {
  margin: 24px;
  background: transparent;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about {
  height: 100vh;
  width: 100vw;
  background: black;
  position: relative;
  isolation: isolate;
}

.about__decor_mobile {
  width: 100%;
  right:0;
  top: 0;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.image-lamp {
  width: 100%;
}

/* .image-microphone { */
/*   width: 100%; */
/*   left: -20%; */
/* } */

.about__fill_mobile {
  height: calc(100% - 90px);
  width: calc(100% - 40px);
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
}

.point-one {
  color: white;
  font-size: 30px;
  margin-top: 30%;
}

.point-wrapper {
  padding-top: 30%;
  /* padding-bottom: 5px; */
  margin: 4vw;
  margin-bottom: 20%;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #feeb7a;
}

.point-one-second {
  margin-left: 3vw;
  text-align: right;
  color: white;
  font-size: 20px;
}

/* .about__fill__point-1, */
/* .about__fill__point-2 { */
/*   background: transparent; */
/*   color: white; */
/*   font-size: 20px; */
/*   display: flex; */
/*   flex-direction: column; */
/**/
/*   align-items: flex-start; */
/* } */


@media (min-width: 768px) {
  .image-lamp {
    display: none;
  }
}

.events {
  height: 100vh;
  width: 100vw;
  background: #f7e6e6;
}


.menu {
  height: 100vh;
  width: 100vw;
  background: #400808;
}

.discount {
  height: 100vh;
  width: 100vw;
  background: pink;
}

.banquet {
  height: 100vh;
  width: 100vw;
  background: #45a87f;
}

.contacts {
  height: 100vh;
  width: 100vw;
  background: #f7e6e6;
}


.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: calc(100vw - 40px);
  margin: 20px;
  z-index: 100;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}



.reservation-button {
  height: 100%;
  border-radius: 20px;
  background: #feeb7a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-button__text {
  font-size: 10px;
  font-weight: 700;
  color: black;
  margin: 20px;
}

@media (min-width: 768px) {
  .reservation-button__text {
    font-size: 12px;
    margin: 40px;
  }
}
